@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
*{
    margin: 0;
    padding: 0;
}

img{
    margin:auto auto;
    max-width:100%;
    padding-top: 80px;
}

body{
    background: #ffffff;
    font-family: 'Lato', sans-serif;
}

main{
    margin:100px auto;
    width: 1080px;
    height:550px;
    border-radius: 20px;
    box-shadow:7px 7px 50px 0px #42c9ca ;
    overflow: hidden;
}

.product{
    width:40%;
    height:100%;
    float: left;
    background: linear-gradient( #6afdc9 0%,#42c9ca 100%);
}


.content{
    width:60%;
    height:100%;
    padding-top: 50px;
    float: left;
    box-sizing: border-box;
    padding-left: 40px;
}

h1,h2{
    font-family: 'Anton', sans-serif;
    padding:20px 0px;
}

h1{
    font-size: 30px;
}

h2{
    font-size: 20px;
}

form{
    width: 300px;
    margin-top: 30px;
}

input, select{
    display: block;
    width: 150px;
    height: 30px;
    /*margin-left: 15px;*/
    margin: 10px 0 10px 15px;
}

select{
    color: #ffffff;
    background: #42c9ca;
    border:none;
    font-size: 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-left: 10px;
}

input{
    border:none;
    border-bottom: 2px solid #42c9ca;
    padding-left: 10px;
    font-size: 12px;
}


label{
    font-size: 13px;
    margin: 10px 0;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
button{
    width: 150px;
    height: 30px;
    border-radius: 15px;
    background: none;
    color: #42c9ca;
    border:2px solid  #42c9ca;
    font-size: 13px;
    text-transform: uppercase;
    margin-top: 20px;
}

button:hover{

    background: #42c9ca;
    border:2px solid  #42c9ca;
    color: #ffffff;
}
